
<!DOCTYPE html>
<html>
<head>
    <title>Editar Palabra - Matumbe</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <div class="logo">Matumbe</div>
        <div class="nav">
            <a href="/translate">Traductor</a>
            <b><a href="/add">Agregar palabras</a></b>
            <a href="/speak">Pronunciación</a>
        </div>
        <div onclick="handleClick()" class="profile">DM</div>
    </div>
    <div class="container">
        <div class="form-container">
            <h2>Editar Palabra</h2>
            <form action="/admin/edit/<%= word._id %>" method="POST">
                <label for="language">Idioma original:</label>
                <select id="language" name="language">
                    <option <% if (word.language === 'Español') { %>selected<% } %>>Español</option>
                </select>
                <label for="word">Palabra</label>
                <input id="word" name="word" type="text" value="<%= word.word %>" required />
                <label for="translation">Traducción (en Kamëntsá)</label>
                <input id="translation" name="translation" type="text" value="<%= word.translation %>" required />
                <label for="meaning">Significado</label>
                <textarea id="meaning" name="meaning" required><%= word.meaning %></textarea>
                <button type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</body>
</html>
